In [5]:
%reload_ext sql

In [6]:
%%sql 
mysql+pymysql://root:12345678@localhost/mysql

'Connected: root@mysql'

In [7]:
%%sql
DROP DATABASE twdb;

 * mysql+pymysql://root:***@localhost/mysql
2 rows affected.

[]