In [188]:
%reload_ext sql

In [189]:
%%sql 
mysql+pymysql://root:12345678@localhost/mysql

'Connected: root@mysql'

In [190]:
%%sql
CREATE DATABASE prueba;

 * mysql+pymysql://root:***@localhost/mysql
1 rows affected.

[]

In [191]:
%%sql

CREATE TABLE IF NOT EXISTS prueba.usuario (
  id varchar(50) NOT NULL,
  fechaCreacion datetime NOT NULL,
  nombre varchar(140) NOT NULL,
  ubicacion varchar(140) NOT NULL,
  followersCount integer NOT NULL,
  friendsCount integer NOT NULL,
  favouritesCount integer NOT NULL,  
  PRIMARY KEY (id)
);

CREATE TABLE IF NOT EXISTS prueba.tweet (
  id varchar(50) NOT NULL,
  idUsuario varchar(50) NOT NULL,
  fechaCreacion datetime NOT NULL,
  texto varchar(300) NOT NULL, 
  lang varchar(50) NOT NULL,
  PRIMARY KEY (id),
  FOREIGN KEY (idUsuario) REFERENCES usuario(id) ON UPDATE 
  CASCADE ON DELETE CASCADE
);

 * mysql+pymysql://root:***@localhost/mysql
0 rows affected.
0 rows affected.

[]

In [192]:
%%sql 
select table_name from information_schema.tables where table_schema='prueba';

 * mysql+pymysql://root:***@localhost/mysql
2 rows affected.

[('tweet',), ('usuario',)]

In [193]:
import pymysql

# Clase User
class User(object):
    
    def __init__(self):
        self.id = ""
        self.created = ""
        self.name = ""
        self.location = ""
        self.followersCount = 0
        self.friendsCount= 0
        self.favouritesCount = 0

    def __init__(self,id,fechaCreacion,nombre,ubicacion,followersCount,friendsCount,favouritesCount):
        self.id = id
        self.fechaCreacion = fechaCreacion
        self.nombre = nombre
        self.ubicacion = ubicacion
        self.followersCount = followersCount
        self.friendsCount = friendsCount
        self.favouritesCount = favouritesCount        
    
    def getId(self):
        return self.id
    
    
    def agregarUsuario(self):
        try:
            connection = pymysql.connect(host = 'localhost', user = 'root',
                                         password = '12345678', db = 'prueba', charset = 'utf8')
            with connection.cursor() as cursor:
                sentenciaSQL = "INSERT INTO prueba.usuario(id,fechaCreacion,nombre,ubicacion,"+\
                "followersCount,friendsCount,favouritesCount) VALUES "+\
                "(%s,%s,%s,%s,%s,%s,%s)"
                cursor.execute(sentenciaSQL, (str(self.id),
                                              self.fechaCreacion,
                                              str(self.nombre),
                                              str(self.ubicacion),
                                              self.followersCount,
                                              self.friendsCount,
                                              self.favouritesCount))                
                connection.commit()
        
        except Exception as e:
            print("Error on_data: %s" % str(e))
        finally:
            connection.close()

    def __str__(self):
        return "'{0}', '{1}', '{2}', '{3}', '{4}', '{5}', '{6}'".format(self.id,
                                                                        self.fechaCreacion, 
                                                                        self.nombre,
                                                                        self.ubicacion, 
                                                                        self.followersCount,
                                                                        self.friendsCount, 
                                                                        self.favouritesCount)

In [194]:
class Tweet(object):
    
    #metodo para inicializar la clase    
    def __init__(self):
        self.id = ""
        self.fechaCreacion = ""
        self.contenido = ""
        self.lang= ""
        self.user = None
        
    def __init__(self,id,fechaCreacion,contenido,lang,user):
        self.id = id
        self.fechaCreacion = fechaCreacion
        self.contenido = contenido
        self.lang = lang
        self.user = user        
 
    def agregarTweet(self):
        #Conexi√≥n a base de datos
        try:
            connection = pymysql.connect(host = 'localhost', user = 'root',
                                         password = '12345678', db = 'prueba', charset = 'utf8')
            with connection.cursor() as cursor:
                sentenciaSQL=("INSERT INTO prueba.tweet(id,fechaCreacion,texto,lang,idUsuario) "+\
                              "VALUES (%s,%s,%s,%s,%s)")
                cursor.execute(sentenciaSQL, (str(self.id),
                                              self.fechaCreacion, 
                                              str(self.contenido), 
                                              str(self.lang),
                                              str(self.user.getId())))                
                connection.commit()
        
        except Exception as e:
            print("Error on_data: %s" % str(e))
        finally:
            connection.close()   
        

    def __str__(self):
         return "'{0}', '{1}', '{2}', '{3}', '{4}'".format(self.id,
                                                           self.fechaCreacion,
                                                           self.lang,
                                                           self.contenido,
                                                           self.user)

In [195]:
import re
import emoji
from datetime import datetime

class UtilTwitter(object):
    
    emojin_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U00002600-\U000027BF"
                           u"\U0001f300-\U0001f64F"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
        
    @staticmethod
    def format_datetime(text):
        datetime_object = datetime.strptime(text, '%a %b %d %H:%M:%S %z %Y')
        return datetime_object.strftime('%Y-%m-%d %H:%M:%S')

    @staticmethod
    def remove_emoticon(text):        
        free_emoticon = ''.join(c for c in text if c not in emoji.UNICODE_EMOJI)
        return UtilTwitter.emojin_pattern.sub(r'', free_emoticon)
    
    @staticmethod
    def clear_text(text:str):        
        if text is None:
            return "Indefinido"
        elif text.strip() == "":
            return "Indefinido"
        else:
            return " ".join(re.findall("[a-zA-Z]+", text))

In [196]:
import unittest

class UtilTwitterTest(unittest.TestCase):
    
    def test_format_datetime(self):        
        self.assertEqual("2018-06-29 06:47:19",UtilTwitter.format_datetime("Fri Jun 29 06:47:19 +0000 2018"))

    def test_clear_text(self):
        self.assertEqual("nadya", UtilTwitter.clear_text("nadyaü•Ä"))
        
    def test_clear_none(self):
        self.assertEqual("Indefinido", UtilTwitter.clear_text(None))
    
    def test_clear_vacio(self):
        self.assertEqual("Indefinido", UtilTwitter.clear_text("   "))
        
if __name__ == "__main__":
    unittest.main(argv=['first-arg-is-ignored'], exit=False)

....
----------------------------------------------------------------------
Ran 4 tests in 0.004s

OK

In [197]:
import tweepy

import time
import json

class TwitterListener(tweepy.StreamListener):
    """Custom StreamListener for streaming data."""
    def __init__(self, time_limit=60):
        self.start_time = time.time()
        self.limit = time_limit       
    
    
    def on_data(self, tweet_json):
        
        if (time.time() - self.start_time) < self.limit:        
            tweet_json  =  tweet_json.encode('utf8')
            decoded = json.loads(tweet_json)
            
            try:
                #Obtener datos Usuario
                userjson = decoded.get('user')
                id_user = userjson.get('id')
                created_user = UtilTwitter.format_datetime(userjson.get('created_at'))
                name_user = UtilTwitter.clear_text(userjson.get('name'))
                location_user = UtilTwitter.clear_text(userjson.get('location'))
                followersCount_user = userjson.get('followers_count')
                friendsCount_user = userjson.get('friends_count')
                favouritesCount_user = userjson.get('favourites_count')
                #Obtener datos Tweet
                id_tweet = decoded.get('id_str')                
                text_tweet = UtilTwitter.remove_emoticon(decoded.get('text'))
                created_tweet = UtilTwitter.format_datetime(decoded.get('created_at'))
                lang_tweet = userjson.get('lang')
                
                oUser = User(id_user,created_user,name_user,location_user,followersCount_user,friendsCount_user,
                             favouritesCount_user)

                print(oUser)
                
                oTweet = Tweet(id_tweet, created_tweet, text_tweet, lang_tweet, oUser)
                
                print(oTweet)
                
                oUser.agregarUsuario()
                oTweet.agregarTweet()                

            except BaseException as e:
                print("Error on_data: %s" % str(e))
                time.sleep(5)
            return True
        else:
            return False #Kill current stream
        
    def on_error(self, status):
        print("Error status: " + str(status))
        return True

    def on_timeout(self):
        print ('Timeout...')
        return True # Don't kill the stream

In [198]:
from tweepy import OAuthHandler
from tweepy.streaming import StreamListener

class ExtraccionTwitterCtrl(object):
#Credenciales de cuenta Twitter
    CONSUMER_KEY = 'GAj4aLmKWjk9Qi7FSp0kqg6y8'
    CONSUMER_SECRET = 'zfpgsQBq1pPDO7BeHPb9IGqO6tuzH7Jru5yk9d3sCr8Onqodor'
    ACCESS_TOKEN  = '372079997-tPaPJG8Grk03nfclH7gLzZKxgdyFE6rnWlQFDMzG'
    ACCESS_SECRET  = 'aCgTryAToksZyJTUwdad0atzeNuWO4poQEAgsUXWeYI2V'

    def __init__(self):
        # Autenticaci√≥n
        self.auth = OAuthHandler(self.CONSUMER_KEY, self.CONSUMER_SECRET)
        self.auth.set_access_token(self.ACCESS_TOKEN, self.ACCESS_SECRET)
        
    def filterByText(self, list_tag, time_limit):
        print("Inicio de filterByText\n")
        try:            
            twitter_stream = tweepy.streaming.Stream(self.auth, TwitterListener(time_limit))
            twitter_stream.filter(track=hash_tag)
        except (KeyboardInterrupt, SystemExit):
            print("Parar proceso de extracci√≥n\n")
        print("Fin de filterByText\n")
        
    def filterByLocations(self, locations, time_limit):
        print("Inificio de filterByLocations\n")
        try:            
            twitter_stream = tweepy.streaming.Stream(self.auth, TwitterListener(time_limit))
            twitter_stream.filter(locations = peru)
        except (KeyboardInterrupt, SystemExit):
            print("Parar proceso de extracci√≥n\n")
        print("Fin de filterByLocations\n")

In [199]:
# Obtener tweets sobre tema: Alan
hash_tag=['Alan Garcia']
#hash_tag=['Marca']

# Obtener tweets generados por pa√≠z
france=[-5.1406, 41.333740, 9.559320, 51.089062]
spain =[-4.042280, 40.611900, -4.023130,40.630329]
italy=[-96.901863,32.171291, -96.866524, 32.204861]
germany = [5.866240,47.270210, 15.042050,55.058140]
peru = [-81.326736,-18.34972,  -68.677979, -0.01297]
senegal =[-17.535231,12.30727, -11.35588,16.691629]
costaMarfil =[-8.5993,4.35706, -2.49489,10.73664]

In [200]:
oExtraccion = ExtraccionTwitterCtrl()
oExtraccion.filterByLocations(hash_tag, 25)

Inificio de filterByLocations

'939125362403020800', '2017-12-08 13:31:49', 'AASANA', 'Indefinido', '249', '527', '1322'
'1064626594717859841', '2018-11-19 21:08:54', 'es', 'Nota De Prensa. https://t.co/ZLIcoGJxXa', ''939125362403020800', '2017-12-08 13:31:49', 'AASANA', 'Indefinido', '249', '527', '1322''
'301717558', '2011-05-19 23:05:13', 'Gustavo Alonso', 'Lima Per', '210', '1217', '2790'
'1064626598052270086', '2018-11-19 21:08:55', 'es', '@aytinoco Puedes agravar la lesi√≥n, ten cuidado.', ''301717558', '2011-05-19 23:05:13', 'Gustavo Alonso', 'Lima Per', '210', '1217', '2790''
'208261603', '2010-10-26 23:33:17', 'Markos BernAL', 'LIMA', '139', '95', '3702'
'1064626600082329606', '2018-11-19 21:08:55', 'es', 'Let the world know that in Peru there is a dictatorship disguised as democracy
#VizcarraDictador', ''208261603', '2010-10-26 23:33:17', 'Markos BernAL', 'LIMA', '139', '95', '3702''
'946228417518821377', '2017-12-28 03:56:49', 'Federico Clemente', 'Indefinido', '351', '2519', '5294'
'1064626626695176192', '2018-11-19 21:09:02', 'es', 'Fintech peruana Tasatop incursiona en M√©xico para captar a ahorristas
"Para el primer a√±o de operaciones esperamos‚Ä¶ https://t.co/xOWbXmjdo0', ''946228417518821377', '2017-12-28 03:56:49', 'Federico Clemente', 'Indefinido', '351', '2519', '5294''
'304875504', '2011-05-25 07:56:05', 'Brunon', 'Indefinido', '2686', '2102', '66247'
'1064626659826024450', '2018-11-19 21:09:10', 'pt', '@kevinnunesc Tadinhos kkkkk no m√°ximo nudes e likes, n√£o passa disso.', ''304875504', '2011-05-25 07:56:05', 'Brunon', 'Indefinido', '2686', '2102', '66247''
Fin de filterByLocations

In [201]:
%%sql 
select * from prueba.usuario limit 10;

 * mysql+pymysql://root:***@localhost/mysql
5 rows affected.

[('208261603', datetime.datetime(2010, 10, 26, 23, 33, 17), 'Markos BernAL', 'LIMA', 139, 95, 3702),
 ('301717558', datetime.datetime(2011, 5, 19, 23, 5, 13), 'Gustavo Alonso', 'Lima Per', 210, 1217, 2790),
 ('304875504', datetime.datetime(2011, 5, 25, 7, 56, 5), 'Brunon', 'Indefinido', 2686, 2102, 66247),
 ('939125362403020800', datetime.datetime(2017, 12, 8, 13, 31, 49), 'AASANA', 'Indefinido', 249, 527, 1322),
 ('946228417518821377', datetime.datetime(2017, 12, 28, 3, 56, 49), 'Federico Clemente', 'Indefinido', 351, 2519, 5294)]

In [202]:
%%sql 
select * from prueba.tweet limit 10;

 * mysql+pymysql://root:***@localhost/mysql
5 rows affected.

[('1064626594717859841', '939125362403020800', datetime.datetime(2018, 11, 19, 21, 8, 54), 'Nota De Prensa. https://t.co/ZLIcoGJxXa', 'es'),
 ('1064626598052270086', '301717558', datetime.datetime(2018, 11, 19, 21, 8, 55), '@aytinoco Puedes agravar la lesi√≥n, ten cuidado.', 'es'),
 ('1064626600082329606', '208261603', datetime.datetime(2018, 11, 19, 21, 8, 55), 'Let the world know that in Peru there is a dictatorship disguised as democracy\n#VizcarraDictador', 'es'),
 ('1064626626695176192', '946228417518821377', datetime.datetime(2018, 11, 19, 21, 9, 2), 'Fintech peruana Tasatop incursiona en M√©xico para captar a ahorristas\n"Para el primer a√±o de operaciones esperamos‚Ä¶ https://t.co/xOWbXmjdo0', 'es'),
 ('1064626659826024450', '304875504', datetime.datetime(2018, 11, 19, 21, 9, 10), '@kevinnunesc Tadinhos kkkkk no m√°ximo nudes e likes, n√£o passa disso.', 'pt')]

In [203]:
%%sql
SELECT DATA_TYPE 
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_SCHEMA = 'dbtwitter'
AND TABLE_NAME = 'tweet';

 * mysql+pymysql://root:***@localhost/mysql
4 rows affected.

[('varchar',), ('varchar',), ('datetime',), ('varchar',)]

In [205]:
import pandas as pd
import pymysql

tweetSchema= {'fechaCreacion': {'format': '%Y-%m-%d %H:%M:%S'}}

myconnection = pymysql.connect(host = 'localhost', user = 'root',
                               password = '12345678', db = 'prueba', 
                               charset = 'utf8')
df_db = None
try:
    df_db = pd.read_sql(sql='SELECT * FROM tweet WHERE lang="es";', con = myconnection, parse_dates = tweetSchema)
finally:
    myconnection.close()

df_db.head()

,id,idUsuario,fechaCreacion,texto,lang
0,1064626594717859841,939125362403020800,2018-11-19 21:08:54,Nota De Prensa. https://t.co/ZLIcoGJxXa,es
1,1064626598052270086,301717558,2018-11-19 21:08:55,"@aytinoco Puedes agravar la lesi√≥n, ten cuidado.",es
2,1064626600082329606,208261603,2018-11-19 21:08:55,Let the world know that in Peru there is a dic...,es
3,1064626626695176192,946228417518821377,2018-11-19 21:09:02,Fintech peruana Tasatop incursiona en M√©xico p...,es

In [206]:
df_db.dtypes

id                       object
idUsuario                object
fechaCreacion    datetime64[ns]
texto                    object
lang                     object
dtype: object

In [207]:
df_tweet_texto = df_db["texto"]

In [209]:
import string
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer

stop_words = stopwords.words('spanish')
stop_words.extend(["rt", "aun", "oe"])
exclude = string.punctuation
exclude = exclude + "¬ø"

lemma = SnowballStemmer('spanish')

In [211]:
import re

"""def remove_number(list_text):
    return ''.join([i for i in text if not i.isdigit()])"""

def remove_three_dots(list_text):
    return [re.sub(r"[a-zA-Z]+(\‚Ä¶‚Ä¶|\‚Ä¶)$", " ", texto) for texto in list_text]

def remove_url(list_text):
    return [re.sub(r"http\S+", "", texto).strip() for texto in list_text]

def remove_breakline(list_text):
    return [re.sub('\s+', ' ', texto) for texto in list_text]

def remove_single_quotes(list_text):
    return [re.sub("\'", "", texto) for texto in list_text]

In [212]:
data = df_db.texto.values.tolist()
print(data)

['Nota De Prensa. https://t.co/ZLIcoGJxXa', '@aytinoco Puedes agravar la lesi√≥n, ten cuidado.', 'Let the world know that in Peru there is a dictatorship disguised as democracy\n#VizcarraDictador', 'Fintech peruana Tasatop incursiona en M√©xico para captar a ahorristas\n"Para el primer a√±o de operaciones esperamos‚Ä¶ https://t.co/xOWbXmjdo0']

In [213]:
import gensim

txt_free_url = remove_url(data)
txt_free_threedot = remove_three_dots(txt_free_url)
txt_free_breakline = remove_breakline(txt_free_threedot)
txt_free_singlequotes = remove_single_quotes(txt_free_breakline)

def texto_a_palabras(texto:str):
    for sentencia in texto:
        yield(gensim.utils.simple_preprocess(str(sentencia), deacc=True))
        
data_palabras = list(texto_a_palabras(txt_free_singlequotes))

print(data_palabras)

[['nota', 'de', 'prensa'], ['aytinoco', 'puedes', 'agravar', 'la', 'lesion', 'ten', 'cuidado'], ['let', 'the', 'world', 'know', 'that', 'in', 'peru', 'there', 'is', 'dictatorship', 'disguised', 'as', 'democracy'], ['fintech', 'peruana', 'tasatop', 'incursiona', 'en', 'mexico', 'para', 'captar', 'ahorristas', 'para', 'el', 'primer', 'ano', 'de', 'operaciones']]

In [219]:
bigram = gensim.models.Phrases(data_palabras, min_count=5, threshold=100)

trigram = gensim.models.Phrases(bigram[data_palabras], threshold=100)

bigram_mod = gensim.models.phrases.Phraser(bigram)
trigram_mod = gensim.models.phrases.Phraser(trigram)

In [225]:
print(bigram_mod[data_palabras[3]])

['fintech', 'peruana', 'tasatop', 'incursiona', 'en', 'mexico', 'para', 'captar', 'ahorristas', 'para', 'el', 'primer', 'ano', 'de', 'operaciones']

In [226]:
import spacy

def remove_stopwords(texts):
    return [[word for word in gensim.utils.simple_preprocess(str(doc)) if word not in stop_words] for doc in texts]

def make_bigrams(texts):
    return [bigram_mod[doc] for doc in texts]

def make_trigrams(texts):
    return [trigram_mod[bigram_mod[doc]] for doc in texts]

def lemmatization(texts, allowed_postags=['NOUN', 'ADJ', 'VERB', 'ADV']):
    """https://spacy.io/api/annotation"""
    texts_out = []
    for sent in texts:
        doc = nlp(" ".join(sent)) 
        texts_out.append([token.lemma_ for token in doc if token.pos_ in allowed_postags])
    return texts_out

data_words_nostops = remove_stopwords(data_palabras)
data_words_bigrams = make_bigrams(data_words_nostops)
nlp = spacy.load('es', disable=['parser', 'ner'])
data_lemmatized = lemmatization(data_words_bigrams, allowed_postags=['NOUN', 'ADJ', 'VERB', 'ADV'])
print(data_lemmatized)

[['noto', 'prensar'], ['aytinoco', 'agravar', 'lesion', 'cuidar'], ['let', 'the', 'know', 'that', 'peru', 'there', 'dictatorship', 'disguised', 'democracy'], ['fintech', 'peruano', 'tasatop', 'incursionar', 'mexico', 'captar', 'ahorrista', '\ufeff1', 'ano', 'operaci√≥n']]

In [228]:
data_lemmatized[3]

['fintech',
 'peruano',
 'tasatop',
 'incursionar',
 'mexico',
 'captar',
 'ahorrista',
 '\ufeff1',
 'ano',
 'operaci√≥n']

In [229]:
from gensim import corpora
 
diccionario = corpora.Dictionary(data_lemmatized)
#Corpus
texto = data_lemmatized

In [235]:
corpus = [diccionario.doc2bow(doc) for doc in texto]

print(data_words_bigrams[3])
print(corpus[3])

['fintech', 'peruana', 'tasatop', 'incursiona', 'mexico', 'captar', 'ahorristas', 'primer', 'ano', 'operaciones']
[(15, 1), (16, 1), (17, 1), (18, 1), (19, 1), (20, 1), (21, 1), (22, 1), (23, 1), (24, 1)]

In [236]:
print (data_words_bigrams[1])
print (corpus[1])

['aytinoco', 'puedes', 'agravar', 'lesion', 'ten', 'cuidado']
[(2, 1), (3, 1), (4, 1), (5, 1)]

In [238]:
[[(diccionario[id], freq) for id, freq in cp] for cp in corpus[0:3]]

[[('noto', 1), ('prensar', 1)],
 [('agravar', 1), ('aytinoco', 1), ('cuidar', 1), ('lesion', 1)],
 [('democracy', 1),
  ('dictatorship', 1),
  ('disguised', 1),
  ('know', 1),
  ('let', 1),
  ('peru', 1),
  ('that', 1),
  ('the', 1),
  ('there', 1)]]

In [239]:
print(len(list(diccionario.values())))

25

In [240]:
#Correr y entrenar el modelo LDA sobre la matriz de t√©rminos.
lda_model = gensim.models.LdaModel(corpus,
                                   num_topics=20,
                                   id2word = diccionario,
                                   random_state=100,
                                   passes=10,
                                   update_every=1,
                                   chunksize=100,
                                   alpha='auto',
                                   per_word_topics=True)

In [241]:
for idx, topic in lda_model.print_topics():
    print('Topic: {} Word: {}\n'.format(idx, topic))

Topic: 0 Word: 0.040*"fintech" + 0.040*"mexico" + 0.040*"ahorrista" + 0.040*"ano" + 0.040*"captar" + 0.040*"the" + 0.040*"incursionar" + 0.040*"tasatop" + 0.040*"peruano" + 0.040*"that"

Topic: 1 Word: 0.040*"fintech" + 0.040*"mexico" + 0.040*"ahorrista" + 0.040*"ano" + 0.040*"captar" + 0.040*"the" + 0.040*"incursionar" + 0.040*"tasatop" + 0.040*"peruano" + 0.040*"that"

Topic: 2 Word: 0.093*"ahorrista" + 0.093*"mexico" + 0.093*"tasatop" + 0.093*"peruano" + 0.093*"operaci√≥n" + 0.093*"Ôªø1" + 0.093*"incursionar" + 0.093*"fintech" + 0.093*"captar" + 0.093*"ano"

Topic: 3 Word: 0.040*"fintech" + 0.040*"mexico" + 0.040*"ahorrista" + 0.040*"ano" + 0.040*"captar" + 0.040*"the" + 0.040*"incursionar" + 0.040*"tasatop" + 0.040*"peruano" + 0.040*"that"

Topic: 4 Word: 0.040*"fintech" + 0.040*"mexico" + 0.040*"ahorrista" + 0.040*"ano" + 0.040*"captar" + 0.040*"the" + 0.040*"incursionar" + 0.040*"tasatop" + 0.040*"peruano" + 0.040*"that"

Topic: 5 Word: 0.040*"fintech" + 0.040*"mexico" + 0.040*"ahorrista" + 0.040*"ano" + 0.040*"captar" + 0.040*"the" + 0.040*"incursionar" + 0.040*"tasatop" + 0.040*"peruano" + 0.040*"that"

Topic: 6 Word: 0.102*"let" + 0.102*"dictatorship" + 0.102*"there" + 0.102*"the" + 0.102*"peru" + 0.102*"democracy" + 0.102*"that" + 0.102*"disguised" + 0.102*"know" + 0.005*"incursionar"

Topic: 7 Word: 0.040*"fintech" + 0.040*"mexico" + 0.040*"ahorrista" + 0.040*"ano" + 0.040*"captar" + 0.040*"the" + 0.040*"incursionar" + 0.040*"tasatop" + 0.040*"peruano" + 0.040*"that"

Topic: 8 Word: 0.040*"fintech" + 0.040*"mexico" + 0.040*"ahorrista" + 0.040*"ano" + 0.040*"captar" + 0.040*"the" + 0.040*"incursionar" + 0.040*"tasatop" + 0.040*"peruano" + 0.040*"that"

Topic: 9 Word: 0.323*"prensar" + 0.323*"noto" + 0.015*"fintech" + 0.015*"ahorrista" + 0.015*"ano" + 0.015*"captar" + 0.015*"mexico" + 0.015*"tasatop" + 0.015*"peruano" + 0.015*"incursionar"

Topic: 10 Word: 0.040*"fintech" + 0.040*"mexico" + 0.040*"ahorrista" + 0.040*"ano" + 0.040*"captar" + 0.040*"the" + 0.040*"incursionar" + 0.040*"tasatop" + 0.040*"peruano" + 0.040*"that"

Topic: 11 Word: 0.200*"agravar" + 0.200*"aytinoco" + 0.200*"cuidar" + 0.200*"lesion" + 0.010*"incursionar" + 0.010*"tasatop" + 0.010*"captar" + 0.010*"fintech" + 0.010*"ahorrista" + 0.010*"mexico"

Topic: 12 Word: 0.040*"fintech" + 0.040*"mexico" + 0.040*"ahorrista" + 0.040*"ano" + 0.040*"captar" + 0.040*"the" + 0.040*"incursionar" + 0.040*"tasatop" + 0.040*"peruano" + 0.040*"that"

Topic: 13 Word: 0.040*"fintech" + 0.040*"mexico" + 0.040*"ahorrista" + 0.040*"ano" + 0.040*"captar" + 0.040*"the" + 0.040*"incursionar" + 0.040*"tasatop" + 0.040*"peruano" + 0.040*"that"

Topic: 14 Word: 0.040*"fintech" + 0.040*"mexico" + 0.040*"ahorrista" + 0.040*"ano" + 0.040*"captar" + 0.040*"the" + 0.040*"incursionar" + 0.040*"tasatop" + 0.040*"peruano" + 0.040*"that"

Topic: 15 Word: 0.040*"fintech" + 0.040*"mexico" + 0.040*"ahorrista" + 0.040*"ano" + 0.040*"captar" + 0.040*"the" + 0.040*"incursionar" + 0.040*"tasatop" + 0.040*"peruano" + 0.040*"that"

Topic: 16 Word: 0.040*"fintech" + 0.040*"mexico" + 0.040*"ahorrista" + 0.040*"ano" + 0.040*"captar" + 0.040*"the" + 0.040*"incursionar" + 0.040*"tasatop" + 0.040*"peruano" + 0.040*"that"

Topic: 17 Word: 0.040*"fintech" + 0.040*"mexico" + 0.040*"ahorrista" + 0.040*"ano" + 0.040*"captar" + 0.040*"the" + 0.040*"incursionar" + 0.040*"tasatop" + 0.040*"peruano" + 0.040*"that"

Topic: 18 Word: 0.040*"fintech" + 0.040*"mexico" + 0.040*"ahorrista" + 0.040*"ano" + 0.040*"captar" + 0.040*"the" + 0.040*"incursionar" + 0.040*"tasatop" + 0.040*"peruano" + 0.040*"that"

Topic: 19 Word: 0.040*"fintech" + 0.040*"mexico" + 0.040*"ahorrista" + 0.040*"ano" + 0.040*"captar" + 0.040*"the" + 0.040*"incursionar" + 0.040*"tasatop" + 0.040*"peruano" + 0.040*"that"

In [244]:
import warnings
import pyLDAvis.gensim

warnings.filterwarnings('ignore')

pyLDAvis.enable_notebook()
vis = pyLDAvis.gensim.prepare(lda_model,corpus,diccionario)
print(vis)

PreparedData(topic_coordinates=                                 x                            y  topics  \
topic
2         (0.24370260187549292+0j)    (-0.10435112387550298+0j)       1
6         (-0.2499075285833343+0j)    (-0.10247620396567092+0j)       2
11     (-0.0005392257190333801+0j)     (0.26790832089666655+0j)       3
9       (0.0022859199507890776+0j)   (-0.008694270235378098+0j)       4
8       (0.0002786395297552767+0j)  (-0.0032741701762571697+0j)       5
1       (0.0002786395297552685+0j)  (-0.0032741701762571836+0j)       6
3       (0.0002786395297552784+0j)  (-0.0032741701762571745+0j)       7
4       (0.0002786395297552778+0j)   (-0.003274170176257167+0j)       8
5      (0.00027863952975528886+0j)  (-0.0032741701762571654+0j)       9
7       (0.0002786395297552896+0j)  (-0.0032741701762571645+0j)      10
19      (0.0002786395297552981+0j)   (-0.003274170176257165+0j)      11
18     (0.00027863952975530236+0j)   (-0.003274170176257178+0j)      12
10      (0.0002786395297553007+0j)   (-0.003274170176257182+0j)      13
12       (0.000278639529755347+0j)  (-0.0032741701762571836+0j)      14
13      (0.0002786395297553205+0j)  (-0.0032741701762571767+0j)      15
14     (0.00027863952975533613+0j)  (-0.0032741701762571684+0j)      16
15      (0.0002786395297553538+0j)  (-0.0032741701762571784+0j)      17
16      (0.0002786395297553411+0j)   (-0.003274170176257203+0j)      18
17     (0.00027863952975525855+0j)  (-0.0032741701762571914+0j)      19
0      (0.00027863952975525855+0j)  (-0.0032741701762571914+0j)      20

       cluster       Freq
topic
2            1  38.121147
6            1  34.139572
11           1  14.372447
9            1   6.725371
8            1   0.415091
1            1   0.415091
3            1   0.415091
4            1   0.415091
5            1   0.415091
7            1   0.415091
19           1   0.415091
18           1   0.415091
10           1   0.415091
12           1   0.415091
13           1   0.415091
14           1   0.415091
15           1   0.415091
16           1   0.415091
17           1   0.415091
0            1   0.415091  , topic_info=     Category      Freq          Term     Total  loglift  logprob
term
24    Default  1.000000            Ôªø1  1.000000  25.0000  25.0000
23    Default  1.000000       tasatop  1.000000  24.0000  24.0000
22    Default  1.000000       peruano  1.000000  23.0000  23.0000
21    Default  1.000000     operaci√≥n  1.000000  22.0000  22.0000
20    Default  1.000000        mexico  1.000000  21.0000  21.0000
19    Default  1.000000   incursionar  1.000000  20.0000  20.0000
18    Default  1.000000       fintech  1.000000  19.0000  19.0000
17    Default  1.000000        captar  1.000000  18.0000  18.0000
16    Default  1.000000           ano  1.000000  17.0000  17.0000
15    Default  1.000000     ahorrista  1.000000  16.0000  16.0000
13    Default  1.000000           the  1.000000  15.0000  15.0000
14    Default  1.000000         there  1.000000  14.0000  14.0000
12    Default  1.000000          that  1.000000  13.0000  13.0000
11    Default  1.000000          peru  1.000000  12.0000  12.0000
10    Default  1.000000           let  1.000000  11.0000  11.0000
9     Default  1.000000          know  1.000000  10.0000  10.0000
8     Default  1.000000     disguised  1.000000   9.0000   9.0000
7     Default  1.000000  dictatorship  1.000000   8.0000   8.0000
6     Default  1.000000     democracy  1.000000   7.0000   7.0000
5     Default  0.000000        lesion  0.000000   6.0000   6.0000
4     Default  0.000000        cuidar  0.000000   5.0000   5.0000
3     Default  0.000000      aytinoco  0.000000   4.0000   4.0000
2     Default  0.000000       agravar  0.000000   3.0000   3.0000
1     Default  0.000000       prensar  0.000000   2.0000   2.0000
0     Default  0.000000          noto  0.000000   1.0000   1.0000
24     Topic1  0.889493            Ôªø1  1.057628   0.7913  -2.3716
23     Topic1  0.889493       tasatop  1.057628   0.7913  -2.3716
22     Topic1  0.889493       peruano  1.057628   0.7913  -2.3716
21     Topic1  0.889493     operaci√≥n  1.057628   0.7913  -2.3716
20     Topic1  0.889493        mexico  1.057628   0.7913  -2.3716
...       ...       ...           ...       ...      ...      ...
19    Topic19  0.004151   incursionar  1.057628  -0.0560  -3.2189
20    Topic19  0.004151        mexico  1.057628  -0.0560  -3.2189
21    Topic19  0.004151     operaci√≥n  1.057628  -0.0560  -3.2189
22    Topic19  0.004151       peruano  1.057628  -0.0560  -3.2189
24    Topic19  0.004151            Ôªø1  1.057628  -0.0560  -3.2189
0     Topic20  0.004151          noto  0.727828   0.3177  -3.2189
1     Topic20  0.004151       prensar  0.727828   0.3177  -3.2189
2     Topic20  0.004151       agravar  0.894894   0.1110  -3.2189
3     Topic20  0.004151      aytinoco  0.894894   0.1110  -3.2189
4     Topic20  0.004151        cuidar  0.894894   0.1110  -3.2189
5     Topic20  0.004151        lesion  0.894894   0.1110  -3.2189
11    Topic20  0.004151          peru  1.043164  -0.0423  -3.2189
6     Topic20  0.004151     democracy  1.043164  -0.0423  -3.2189
7     Topic20  0.004151  dictatorship  1.043164  -0.0423  -3.2189
8     Topic20  0.004151     disguised  1.043164  -0.0423  -3.2189
9     Topic20  0.004151          know  1.043164  -0.0423  -3.2189
10    Topic20  0.004151           let  1.043164  -0.0423  -3.2189
12    Topic20  0.004151          that  1.043164  -0.0423  -3.2189
13    Topic20  0.004151           the  1.043164  -0.0423  -3.2189
14    Topic20  0.004151         there  1.043164  -0.0423  -3.2189
23    Topic20  0.004151       tasatop  1.057628  -0.0560  -3.2189
15    Topic20  0.004151     ahorrista  1.057628  -0.0560  -3.2189
16    Topic20  0.004151           ano  1.057628  -0.0560  -3.2189
17    Topic20  0.004151        captar  1.057628  -0.0560  -3.2189
18    Topic20  0.004151       fintech  1.057628  -0.0560  -3.2189
19    Topic20  0.004151   incursionar  1.057628  -0.0560  -3.2189
20    Topic20  0.004151        mexico  1.057628  -0.0560  -3.2189
21    Topic20  0.004151     operaci√≥n  1.057628  -0.0560  -3.2189
22    Topic20  0.004151       peruano  1.057628  -0.0560  -3.2189
24    Topic20  0.004151            Ôªø1  1.057628  -0.0560  -3.2189

[525 rows x 6 columns], token_table=      Topic      Freq          Term
term
2         3  1.117450       agravar
15        1  0.945512     ahorrista
16        1  0.945512           ano
3         3  1.117450      aytinoco
17        1  0.945512        captar
4         3  1.117450        cuidar
6         2  0.958622     democracy
7         2  0.958622  dictatorship
8         2  0.958622     disguised
18        1  0.945512       fintech
19        1  0.945512   incursionar
9         2  0.958622          know
5         3  1.117450        lesion
10        2  0.958622           let
20        1  0.945512        mexico
0         4  1.373950          noto
21        1  0.945512     operaci√≥n
11        2  0.958622          peru
22        1  0.945512       peruano
1         4  1.373950       prensar
23        1  0.945512       tasatop
12        2  0.958622          that
13        2  0.958622           the
14        2  0.958622         there
24        1  0.945512            Ôªø1, R=25, lambda_step=0.01, plot_opts={'xlab': 'PC1', 'ylab': 'PC2'}, topic_order=[3, 7, 12, 10, 9, 2, 4, 5, 6, 8, 20, 19, 11, 13, 14, 15, 16, 17, 18, 1])

In [245]:
import pandas as pd
import re

#leemos los archivos de palabras positivas y negativas
positivas = pd.read_csv('DataPolaridad/up_positivas.csv', encoding = 'utf-8').Palabra.tolist()
negativas = pd.read_csv('DataPolaridad/up_negativas.csv', encoding = 'utf-8').Palabra.tolist()

In [246]:

def get_sentiment(list_palabra):
    sent = {'positivos':0, 'negativos':0}
    for word in list_palabra:
        if word in positivas:
            sent['positivos'] = sent['positivos'] + 1
        elif word in negativas:
            sent['negativos'] = sent['negativos'] + 1
        else:
            pass
    if sent['positivos'] > sent['negativos']:
        return 'positivo'
    elif sent['positivos'] < sent['negativos']:
        return 'negativo'
    else:
        return 'neutro'

In [247]:
#Analizamos las frases o tweets de Twitter.
print(data_words_nostops)

[['nota', 'prensa'], ['aytinoco', 'puedes', 'agravar', 'lesion', 'ten', 'cuidado'], ['let', 'the', 'world', 'know', 'that', 'in', 'peru', 'there', 'is', 'dictatorship', 'disguised', 'as', 'democracy'], ['fintech', 'peruana', 'tasatop', 'incursiona', 'mexico', 'captar', 'ahorristas', 'primer', 'ano', 'operaciones']]

In [249]:
for palabraTweet in data_words_nostops[0:10]:
    print('Topic: {}\nRanking: {}\n'.format(palabraTweet, get_sentiment(palabraTweet)))

Topic: ['nota', 'prensa']
Ranking: neutro

Topic: ['aytinoco', 'puedes', 'agravar', 'lesion', 'ten', 'cuidado']
Ranking: negativo

Topic: ['let', 'the', 'world', 'know', 'that', 'in', 'peru', 'there', 'is', 'dictatorship', 'disguised', 'as', 'democracy']
Ranking: neutro

Topic: ['fintech', 'peruana', 'tasatop', 'incursiona', 'mexico', 'captar', 'ahorristas', 'primer', 'ano', 'operaciones']
Ranking: neutro

In [250]:
for palabraTweet in data_words_nostops[0:10]:
    print('Topic: {}\nRanking: {}\n'.format(palabraTweet, get_sentiment(palabraTweet)))

Topic: ['nota', 'prensa']
Ranking: neutro

Topic: ['aytinoco', 'puedes', 'agravar', 'lesion', 'ten', 'cuidado']
Ranking: negativo

Topic: ['let', 'the', 'world', 'know', 'that', 'in', 'peru', 'there', 'is', 'dictatorship', 'disguised', 'as', 'democracy']
Ranking: neutro

Topic: ['fintech', 'peruana', 'tasatop', 'incursiona', 'mexico', 'captar', 'ahorristas', 'primer', 'ano', 'operaciones']
Ranking: neutro