In [206]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [159]:
%%sql 
mysql+pymysql://root:12345678@localhost/mysql

'Connected: root@mysql'

In [160]:
%%sql
CREATE DATABASE IF NOT EXISTS final;

 * mysql+pymysql://root:***@localhost/mysql
1 rows affected.

[]

In [163]:
%%sql

CREATE TABLE IF NOT EXISTS final.usuario (
  id varchar(50) NOT NULL,
  fechaCreacion datetime NOT NULL,
  nombre varchar(140) NOT NULL,
  ubicacion varchar(140) NOT NULL,
  PRIMARY KEY (`id`)
);

CREATE TABLE IF NOT EXISTS final.tweet (
  id varchar(50) NOT NULL,
  idUsuario varchar(50) NOT NULL,
  fechaCreacion datetime NOT NULL,
  texto varchar(140) NOT NULL, 
  lang varchar(50) NOT NULL,
  PRIMARY KEY (id),
  FOREIGN KEY (idUsuario) REFERENCES usuario(id) ON UPDATE 
  CASCADE ON DELETE CASCADE
);

 * mysql+pymysql://root:***@localhost/mysql
0 rows affected.
0 rows affected.

/Users/jchristianva/miniconda3/envs/python36/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1050, "Table 'usuario' already exists")
  result = self._query(query)
/Users/jchristianva/miniconda3/envs/python36/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1050, "Table 'tweet' already exists")
  result = self._query(query)

[]

In [164]:
%%sql 
select table_name from information_schema.tables where table_schema='final';

 * mysql+pymysql://root:***@localhost/mysql
2 rows affected.

[('tweet',), ('usuario',)]

In [196]:
import pymysql

# Clase User
class User(object):
    
    def __init__(self):
        self.id = ""
        self.created = ""
        self.name = ""
        self.location = ""
        

    def __init__(self,id,fechaCreacion,nombre,ubicacion):
        self.id = id
        self.fechaCreacion = fechaCreacion
        self.nombre = nombre
        self.ubicacion = ubicacion   
    
    def getId(self):
        return self.id
    
    
    def agregarUsuario(self):
        try:
            connection = pymysql.connect(host = 'localhost', user = 'root',
                                         password = '12345678', db = 'dbtwitter', charset = 'utf8')
            with connection.cursor() as cursor:
                sentenciaSQL = "INSERT INTO final.usuario(id,fechaCreacion,nombre,ubicacion VALUES "+\
                "(%s,%s,%s,%s)"
                cursor.execute(sentenciaSQL, (str(self.id), self.fechaCreacion, str(self.nombre), 
                                             str(self.ubicacion)))
            
                connection.commit()
        
        except Exception as e:
            print("Error on_data: %s" % str(e))
        finally:
            connection.close()

    def __str__(self):
        return "{0}|{1}|{2}|{3}".format(self.id, self.fechaCreacion, self.nombre, self.ubicacion)

In [197]:
class Tweet(object):
    
    #metodo para inicializar la clase    
    def __init__(self):
        self.id = ""
        self.fechaCreacion = ""
        self.contenido = ""
        self.lang = ""
        self.user = None
    
    def __init__(self,id,fechaCreacion,contenido,lang,user):
        self.id = id
        self.fechaCreacion = fechaCreacion
        self.contenido = contenido
        self.lang = lang
        self.user = user
 
    def agregarTweet(self):
        #Conexi贸n a base de datos
        try:
            connection = pymysql.connect(host = 'localhost', user = 'root',
                                         password = '12345678', db = 'dbtwitter', charset = 'utf8')
            with connection.cursor() as cursor:
                sentenciaSQL=("INSERT INTO final.tweet(id,fechaCreacion,texto,lang,idUsuario) "+\
                              "VALUES (%s,%s,%s,%s,%s)")
                cursor.execute(sentenciaSQL, (str(self.id), self.fechaCreacion, str(self.contenido), str(self.lang), str(self.user.getId())))                
                connection.commit()
        
        except Exception as e:
            print("Error on_data: %s" % str(e))
        finally:
            connection.close()   
        

    def __str__(self):
         return "{0}|{1}|{2}|{3}|{4}".format(self.id,self.fechaCreacion,self.contenido, self.lang, self.user)

In [198]:
import re
import emoji
from datetime import datetime

class UtilTwitter(object):
    
    emojin_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U00002600-\U000027BF"
                           u"\U0001f300-\U0001f64F"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
        
    @staticmethod
    def format_datetime(text):
        datetime_object = datetime.strptime(text, '%a %b %d %H:%M:%S %z %Y')
        return datetime_object.strftime('%Y-%m-%d %H:%M:%S')

    @staticmethod
    def remove_emoticon(text):        
        free_emoticon = ''.join(c for c in text if c not in emoji.UNICODE_EMOJI)
        return UtilTwitter.emojin_pattern.sub(r'', free_emoticon)
    
    @staticmethod
    def clear_text(text:str):        
        if text is None:
            return "Indefinido"
        elif text.strip() == "":
            return "Indefinido"
        else:
            return " ".join(re.findall("[a-zA-Z]+", text))

In [199]:
import unittest

class UtilTwitterTest(unittest.TestCase):
    
    def test_format_datetime(self):        
        self.assertEqual("2018-06-29 06:47:19",UtilTwitter.format_datetime("Fri Jun 29 06:47:19 +0000 2018"))

    def test_clear_text(self):
        self.assertEqual("nadya", UtilTwitter.clear_text("nadya"))
        
    def test_clear_none(self):
        self.assertEqual("Indefinido", UtilTwitter.clear_text(None))
    
    def test_clear_vacio(self):
        self.assertEqual("Indefinido", UtilTwitter.clear_text("   "))
    ###Completar c贸digo###
        
if __name__ == "__main__":
    unittest.main(argv=['first-arg-is-ignored'], exit=False)

....
----------------------------------------------------------------------
Ran 4 tests in 0.005s

OK

In [200]:
import tweepy

import time
import json

class TwitterListener(tweepy.StreamListener):
    """Custom StreamListener for streaming data."""
    def __init__(self, time_limit=60):
        self.start_time = time.time()
        self.limit = time_limit       
    
    
    def on_data(self, tweet_json):
        
        if (time.time() - self.start_time) < self.limit:        
            tweet_json  =  tweet_json.encode('utf8')
            decoded = json.loads(tweet_json)
            
            try:
                #Obtener datos Usuario
                userjson = decoded.get('user')
                id_user = userjson.get('id')
                created_user = UtilTwitter.format_datetime(userjson.get('created_at'))
                name_user = UtilTwitter.clear_text(userjson.get('name'))
                location_user = UtilTwitter.clear_text(userjson.get('location'))
                
                #Obtener datos Tweet
                
                id_tweet = decoded.get('id_str')                
                text_tweet = UtilTwitter.remove_emoticon(decoded.get('text'))
                created_tweet = UtilTwitter.format_datetime(decoded.get('created_at'))
                lang_tweet = decoded.get('lang')
                
                oUser = User(id_user,created_user,name_user,location_user)

                print(oUser)
                oTweet = Tweet(id_tweet, created_tweet, text_tweet, lang_tweet, oUser)
                print(oTweet)
                oUser.agregarUsuario()
                oTweet.agregarTweet()                

            except BaseException as e:
                print("Error on_data: %s" % str(e))
                time.sleep(5)
            return True
        else:
            return False #Kill current stream
        
    def on_error(self, status):
        print("Error status: " + str(status))
        return True

    def on_timeout(self):
        print ('Timeout...')
        return True # Don't kill the stream

In [201]:
from tweepy import OAuthHandler
from tweepy.streaming import StreamListener

class ExtraccionTwitterCtrl(object):
#Credenciales de cuenta Twitter
    CONSUMER_KEY = 'GAj4aLmKWjk9Qi7FSp0kqg6y8'
    CONSUMER_SECRET = 'zfpgsQBq1pPDO7BeHPb9IGqO6tuzH7Jru5yk9d3sCr8Onqodor'
    ACCESS_TOKEN  = '372079997-tPaPJG8Grk03nfclH7gLzZKxgdyFE6rnWlQFDMzG'
    ACCESS_SECRET  = 'aCgTryAToksZyJTUwdad0atzeNuWO4poQEAgsUXWeYI2V'

    def __init__(self):
        # Autenticaci贸n
        self.auth = OAuthHandler(self.CONSUMER_KEY, self.CONSUMER_SECRET)
        self.auth.set_access_token(self.ACCESS_TOKEN, self.ACCESS_SECRET)
        
    def filterByText(self, list_tag, time_limit):
        print("Inicio de filterByText\n")
        try:            
            twitter_stream = tweepy.streaming.Stream(self.auth, TwitterListener(time_limit))
            twitter_stream.filter(track=list_tag)
        except (KeyboardInterrupt, SystemExit):
            print("Parar proceso de extracci贸n\n")
        print("Fin de filterByText\n")
        
    def filterByLocations(self, locations, time_limit):
        print("Inicio de filterByLocations\n")
        try:            
            twitter_stream = tweepy.streaming.Stream(self.auth, TwitterListener(time_limit))
            twitter_stream.filter(locations = peru)
        except (KeyboardInterrupt, SystemExit):
            print("Parar proceso de extracci贸n\n")
        print("Fin de filterByLocations\n")

In [202]:
# Obtener tweets sobre tema: Paolo Guerrero
hash_tag=['Paolo Guerrero', 'FIFA']
#hash_tag=['Marca']

# Obtener tweets generados por pa铆z
france=[-5.1406, 41.333740, 9.559320, 51.089062]
spain =[-4.042280, 40.611900, -4.023130,40.630329]
italy=[-96.901863,32.171291, -96.866524, 32.204861]
germany = [5.866240,47.270210, 15.042050,55.058140]
peru = [-81.326736,-18.34972,  -68.677979, -0.01297]
senegal =[-17.535231,12.30727, -11.35588,16.691629]
costaMarfil =[-8.5993,4.35706, -2.49489,10.73664]

In [203]:
oExtraccion = ExtraccionTwitterCtrl()
oExtraccion.filterByText(hash_tag, 10)

Inicio de filterByText

2754013343|2014-08-29 03:04:45|Alexis Lopez|C rdoba Argentina
1063594310816403457|2018-11-17 00:46:58|RT @PiratasTuiteros: Si no fuese por la fecha FIFA ahora estar铆amos todos ebrios ovacionando al Ruso Zielinski|es|2754013343|2014-08-29 03:04:45|Alexis Lopez|C rdoba Argentina
Error on_data: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'VALUES ('2754013343','2014-08-29 03:04:45','Alexis Lopez','C rdoba Argentina')' at line 1")
Error on_data: (1452, 'Cannot add or update a child row: a foreign key constraint fails (`final`.`tweet`, CONSTRAINT `tweet_ibfk_1` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`id`) ON DELETE CASCADE ON UPDATE CASCADE)')
725370259469901824|2016-04-27 17:05:21|Jo Cessford|Castletown England
1063594314922696705|2018-11-17 00:46:59|RT @ftblMoe_: Throwback to this man, miss the old Fifa so much. This reaction was so gold honestly. https://t.co/Gf44NNj4uX|en|725370259469901824|2016-04-27 17:05:21|Jo Cessford|Castletown England
Error on_data: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'VALUES ('725370259469901824','2016-04-27 17:05:21','Jo Cessford','Castletown Eng' at line 1")
Error on_data: (1452, 'Cannot add or update a child row: a foreign key constraint fails (`final`.`tweet`, CONSTRAINT `tweet_ibfk_1` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`id`) ON DELETE CASCADE ON UPDATE CASCADE)')
1915797169|2013-09-29 01:02:57|Ch cho|Indefinido
1063594317313384451|2018-11-17 00:47:00|RT @CFCPys: FIFA 14, You just lost to an Ibarbo 90th Min goal, you quit the match and hear this song, life is good again.  https://t.co/Fj5|en|1915797169|2013-09-29 01:02:57|Ch cho|Indefinido
Error on_data: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'VALUES ('1915797169','2013-09-29 01:02:57','Ch cho','Indefinido')' at line 1")
Error on_data: (1452, 'Cannot add or update a child row: a foreign key constraint fails (`final`.`tweet`, CONSTRAINT `tweet_ibfk_1` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`id`) ON DELETE CASCADE ON UPDATE CASCADE)')
1439854375|2013-05-19 00:54:53|Nico Videla|Indefinido
1063594325198684162|2018-11-17 00:47:02|Y buen, sera fifa|es|1439854375|2013-05-19 00:54:53|Nico Videla|Indefinido
Error on_data: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'VALUES ('1439854375','2013-05-19 00:54:53','Nico Videla','Indefinido')' at line 1")
Error on_data: (1452, 'Cannot add or update a child row: a foreign key constraint fails (`final`.`tweet`, CONSTRAINT `tweet_ibfk_1` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`id`) ON DELETE CASCADE ON UPDATE CASCADE)')
3140549178|2015-04-05 17:50:07|sirr mama coco|Indefinido
1063594347709444096|2018-11-17 00:47:07|I swear fifa 19 Is the most aids game ever !!|en|3140549178|2015-04-05 17:50:07|sirr mama coco|Indefinido
Error on_data: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'VALUES ('3140549178','2015-04-05 17:50:07','sirr mama coco','Indefinido')' at line 1")
Error on_data: (1452, 'Cannot add or update a child row: a foreign key constraint fails (`final`.`tweet`, CONSTRAINT `tweet_ibfk_1` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`id`) ON DELETE CASCADE ON UPDATE CASCADE)')
Fin de filterByText

In [204]:
%%sql 
select * from final.usuario limit 10;

 * mysql+pymysql://root:***@localhost/mysql
0 rows affected.

[]

In [205]:
%%sql
select * from final.tweet limit 5;

 * mysql+pymysql://root:***@localhost/mysql
0 rows affected.

[]